body{
    background-color: black;
}
p{
    color: white;
}
h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    text-align: center;
}
p{
    border: 5px;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}